@model IEnumerable<TicketProyectoP1.Models.Evento>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Eventos</h1>

<p>
    <a asp-action="Create">Crear uno nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagenUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagenUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EventoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EventoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
